.content {
  min-height: calc(100vh - 124px);
  padding: 48px 24px 24px 24px;
  :global(.ant-spin-nested-loading) > div > :global(.ant-spin) {
    height: 600px;
    max-height: none;
  }
  :global(.ant-form) {
    margin-top: 24px;
  }
  :global(.ant-form-item) {
    margin-bottom: 8px;
  }
  :global(.ant-card) {
    height: 204px;
  }
  :global(.ant-card-meta) {
    height: 115px;
    cursor: pointer;
  }
  .newCard {
    text-align: center;
    cursor: pointer;
    span {
      margin: 20px 0 15px;
      color: rgb(204, 204, 204);
      font-size: 60px;
    }
    div {
      color: #666666;
      font-weight: bold;
      font-size: 30px;
    }
  }
}

.cardDescription {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
