<!Doctype html>
<html>

<head>
    <meta charSet="utf-8" />
    <meta name="referrer" content="no-referrer" />
    <title>B端管理系统</title>
    <link href="//at.alicdn.com/t/font_2106787_3d67s27d4bp.css" rel="stylesheet">
</head>

<body>
<div id="root"></div>
</body>

</html>
