.container {
  padding: 24px 24px 20px 24px;
  background-color: #fff;
  border-radius: 2px;
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  :global(.page_title) {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  :global(.form) {
    max-width: 300px;
  }
  :global(.ant-btn) {
    left: 50%;
    margin-top: 20px;
    padding: 4px 20px;
    transform: translateX(-50%);
  }
}
